<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="icon" type="image/x-icon" href="images/logoc.png" />
    <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Homemade+Apple&display=swap" rel="stylesheet">
        
</head>
<body>
     <div class="container">
        <h2>Login Page</h2>

     <form action="" method="POST" class="form-control container-fluid">
        {% csrf_token %}
        <table class="table-responsive table table-success table-striped">
            
             <div class="m-3 row">
               
               <div class="col-sm-9">
                  <input type="text" name="username" placeholder="username" id="">
               </div>
             </div>
             <div class="m-3 row">
              
               <div class="col-sm-9">
                 <input type="password" name="password" placeholder="Password" id="">
               </div>
             </div>
             {% comment %} <a href="{% url 'reset' %}">
              Reset password
             </a> {% endcomment %}
        </table>
        <input type="submit" value="Submit" class="btn btn-primary" name="" id="">
        
    </form>
       
    </div>
</body>
</html>